# Build
bin/
obj/
out/
publish/
releases/

# Rider / JetBrains
.idea/
*.sln.iml
Data/

# VS / VSCode
.vs/
.vscode/
*.user
*.suo
.zed/

# dotnet
*.swp
project.lock.json
*.nupkg
*.snupkg

# EF Core migrations (optionnel — retire si tu versionnes tes migrations)
# */Migrations/

# SQLite
*.db
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db

# Logs
*.log
.aider*
